header, nav, section, footer {
    margin: 20px;
}

body {
    font-family: 'arial', 'helvetica neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

header {
    background: #ebebeb;
    padding: 35px;
    text-align: center;
    width: auto;
}

nav {
    background: #ebebeb;
    text-align: center;
    padding: 35px;
    width: auto;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #777;
    background: #ebebeb;
}

#article_header {
    text-align: center;
    color: #ebebeb;
    background: #777;
}

h2 {
    text-align: center;
    color: #777;
    background: #ebebeb;
    padding: 20px;
}

p {
    text-align: center;
    color: #777;
    background: #ebebeb;
    padding: 20px;
}

section {
    float: left;
    width: 495px;
    background: #ebebeb;
    padding: 10px;
}

aside {
    float: right;
    width: 400px;
    background: #ebebeb;
    height: 400px;
    padding: 1px;
}

footer {
    clear: both;
    text-align: center;
}